@import url("https://db.onlinewebfonts.com/c/17fdba0db4aed68bd367124ce3803fd3?family=ProximaNovaExCn-Regular");
@import url("https://db.onlinewebfonts.com/c/7774b78789333f7af07cff84380f5c6a?family=ProximaNovaExCn-Bold");
body{
  background-color: #ccc;
  margin: 0px;
  padding: 0px;
}
.container{
  display: flex;
  justify-content: center;
}
header{
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img{
  height:80px; 
  width: 80px;
  left: 0;
}
.logout{  
  text-decoration: none;
  margin-top: 19px;
  margin-right: 70px;
  cursor: pointer;
  border-radius:50px;
  padding:10px 20px 10px;
  font-family: "ProximaNovaExCn-Bold";
  font-weight: normal;
  font-style: normal;
  margin-bottom: 30px;
  background-color: #e74158;
  font-size: 24px;  
  color:  white;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
.logout:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.blok{
  background-color: #fff;
  width: 75vw; /*size of white middle panel*/
  margin-top: 8px;
  margin-bottom: 8px;
  max-height: auto;
  -moz-box-shadow: 0 0 50px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.24);
  box-shadow: 0 0 50px rgba(0,0,0,0.24);
}
.visit{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #e74158;
  text-align: center;
  border-radius: 20px;
  height: 60px;
  max-width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "ProximaNovaExCn-Bold";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  color: #fff;
  transition: all ease 0.2s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.visit:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.welcome{
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #0c9adb;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: "ProximaNovaExCn-Bold";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: #fff;
  height: 15vh;
  transition: all ease 0.2s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.welcome:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.picture img{
  width: 120px;
  height: 170px;
}
.options{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.options img{
  max-width: 90px;
  max-height: 130px;
}
.button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 160px;
  width: 120px;
  background: #e6e6e6;
  color: #0c9adb;
  text-align: center;
  font-family: "ProximaNovaExCn-Bold";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
  border-radius: 20px;
  margin: 20px;
  padding: 25px;
  transition: all ease 0.2s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.button:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
span{
  color: #e74158;
  font-size: 50px;
  font-family: "ProximaNovaExCn-Bold";
  font-weight: normal;
  font-style: normal;
  float: right;
}
div .blue_container{
  display: flex;
  
}
.welcome_block{
  width: 33%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #0c9adb;
  margin: 10px;
  border-radius: 20px;
  text-align: center;
  font-family: "ProximaNovaExCn-Bold";
  font-weight: normal;
  font-style: normal;
  font-size: 40px;
  color: #fff;
  height: 37vh;
  transition: all ease 0.2s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
.welcome_block:hover{
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.text{
  padding: 5px;
  font-family: "ProximaNovaExCn-Bold";
  font-weight: normal;
  font-style: normal;
  font-size: 30px;
}
div .ranking_query{
  text-align: left;
  padding-left: 5px;
}
.ratings{
  flex-direction: row-reverse;
}
.checked {
  color: orange;
}