{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLifeClinic</title>
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/doc_log_style.css' %}">
</head>
<body>
    <div class="container">
        <img src="{% static 'mylifeclinic_website/images/doctor.png' %}" width="80px" height="80px">
        <div class="header">
            
            <a href="{% url 'home' %}"><img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" ></a>
            
        </div>
        <h1>Login</h1>
            <div class="login">
                
                <form method="POST" action="{% url 'login' %}">
 
                    <div class="input_group">
                        <input type="text" class="inp" name="email" placeholder="Email" required>
                        <input type="password" class="inp" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="signin">Sign In</button>
                </form>
            </div>

    </div>
</body>
</html>

