{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/formstyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" width="320px" height="110px">
        </div>
        <h1>Create Account</h1>
            <div class="form">
                <form>
                    <div class="input_group">
                        <label for="input" class="text">First Name</label>
                        <input type="text" class="input" name="input" required>
                  
                        <label for="lastName" class="text">Last Name</label>
                        <input type="text" class="lastName" name="lastName" required>
                    
                        <label for="email" class="text">Email</label>
                        <input type="email" class="email" name="email" required>
                  
                        <label for="password" class="text">Password</label>
                        <input type="password" class="password" name="password" required>
              
                        <label for="confirmPassword" class="text">Confirm Password</label>
                        <input type="password" class="confirmPassword" name="confirmPassword" required>
                    </div>
                    <div class="terms">
                        <input type="checkbox">
                            <a>By selecting "Sign Up", you are confirming that you have read <br>
                                and agree to MyLIFE CLINIC'S Terms of Use and Privacy Policy</a>
                        </div>
                    </div>
                    <button type="submit" class="signup">Sign Up</button>
                </form>
            </div>
    </div>
</body>
</html>