{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/formstyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{% url 'home' %}"><img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" ></a>
        </div>
        <h1>Create Account</h1>
            <div class="form">
                <form>
                    <div class="input_group">
                        
                        <input type="text" class="input" name="username" placeholder="First Nam" required>
                                        
                        <input type="text" class="lastName" name="lastName" placeholder="Last Name" required>
                                            
                        <input type="email" class="email" name="email" placeholder="Email" required>
                                          
                        <input type="password" class="password" name="password" placeholder="Password" required>
                                     
                        <input type="password" class="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <div class="terms">
                        <input type="checkbox" required>
                            <span class="text_sign_up">By selecting "Sign Up", you are confirming that you have read
                                 and agree to MyLIFE CLINIC'S <a href="{% url 'statute' %}" target="_blank"> Terms of Use and Privacy Policy</a></span>
                        </div>  
                    </div>
                    <button type="submit" class="signup">Sign Up</button>
                     
                </form>
                <div class="bottom">
                    <p>Already have an account?<a href="{% url 'login' % }"> Sign In</a></p>
                </div>
            </div>
    </div>
</body>
</html>