{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLifeClinic</title>
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" width="600px" height="200px" >

        </div>
        <div class="content">
            <div class="construction">
                <p class="p1">UNDER </br> CONSTRUCTION</p>
                <p class="p2">We are working hard to finish the developement 
                of this site. Sign up below to receive updates
                and to be notified when we launch!</p>
                
                <a class="signup" href="{% url 'form' %}" >Sign Up</a>

            </div>

            <div class="image">
                <img src="{% static 'mylifeclinic_website/images/mylifeclinic_under_construction.png' %}" width="900px" height="600px">
            </div>
        </div>

    </div>
</body>
</html>