{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLifeClinic</title>
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/signinstyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" width="320px" height="110px">
        </div>
        <h1>Login</h1>
            <div class="login">
                <form>
                 
                    <button type="submit" class="signin">Sign In</button>
                </form>
            </div>
    </div>
</body>
</html>