{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyLifeClinic</title>
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/signinstyle.css' %}">
</head>
<body>
    <div class="container">
        <div class="header">
            <a href="{% url 'home' %}"><img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" width="320px" height="110px"></a>
        </div>
        <a href="{% url 'panel' %}"> panel</a>
        <h1>Login</h1>
            <div class="login">
                <form>
                    <div class="input_group">
                        <input type="email" class="inp" placeholder="Email">
                        <input type="password" class="inp" placeholder="Password">
                    </div>
                    <div class="check">
                        <input type="checkbox"> <span class="remember">Remember Me</span>  <span class="forgot"> Forgot Your password?</span> 
                    </div>
                    <button type="submit" class="signin">Sign In</button>
                </form>
                <div class="bottom">
                    Not a Member? <a href="{% url 'form' %}"> Sign Up</a>
                </div>
            </div>
    </div>
</body>
</html>