{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Pacjenta</title>
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/panelstyle.css' %}">
</head>
<body>
      <header>
            <img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_PLUS.png' %}">
          <div class="logout">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
          </div>
          <span>Panel Pacjenta</span> 
      </header>

      <div class="container">
        <!--white container-->
        <div class="blok">
          {% if user.is_authenticated %}
            <!-- If there aren't any records, the div visit will not appear -->
            {% if records %}
            <!--red banner-->
            <div class="visit"> 
              <p>Next appointment:
                  <!-- records.0 means we take only first record -->
                  {{ records.0.date_of }}
                  {{ records.0.employee__postion__nazwa }}
                  {{ records.0.employee__imie }}
                  {{ records.0.employee__nazwisko }}
              </p>
            </div>
            {% endif %}
            <!--blue wlecome banner-->
            <div class="welcome">
              <div class="picture"><img src="{% static 'mylifeclinic_website/images/doctor phone.png' %}"></div>
              <div class="text"><p>Welcome  {% if user.is_authenticated %} {{ user.first_name }} {% else %} ??? {% endif %},<br>Get your business done here </p></div>
              <div class="picture"><img src="{% static 'mylifeclinic_website/images/patient card draw.png' %}"></div>
            </div>
              
            <!--action buttons-->
            <div class="options">
                <div class="button"><a href="#"><img src="{% static 'mylifeclinic_website/images/registration blue icon.png' %}"></a>Make an appointment</div>
                <div class="button"><a href="#"><img src="{% static 'mylifeclinic_website/images/kalendzarz blue.png' %}"></a>Your appointments</div>
                <div class="button"><a href="#"><img src="{% static 'mylifeclinic_website/images/recepty blue.png' %}"></a>Prescriptions</div>
                <div class="button"><a href="#"><img src="{% static 'mylifeclinic_website/images/medical-book blue new.png' %}"></a>Treatment history</div>
              </div>
            <!--doctor ranking-->
            <div class="blue_container">
              <div class="welcome_block">
                <div class="text">Ranking lekarzy</div>
              </div>
              <div class="welcome_block">
              </div>
              <div class="welcome_block">
              </div>
            </div>
          {% else %}
          </div>
          <!--blue banner-->
          <div class="welcome">
            <div class="picture"><img src="{% static 'mylifeclinic_website/images/doctor phone.png' %}"></div>
            <div class="text"><p>You have to be logged in</p></div>
            <div class="picture"><img src="{% static 'mylifeclinic_website/images/patient card draw.png' %}"></div>
          </div>
        
          {% endif %}
        </div>  
       
        
 
</body>
</html>

              