{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Pacjenta</title>
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/panelstyle.css' %}">
</head>
<body>
      <header>
        <div class="left_side">
          <a href="{% url 'home' %}"><img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_PLUS.png' %}"> <a>Panel Pacjenta</a> </a>
        </div>
        <div class="righ_side">
                <!--user menu-->
                <ul class="navbar">
                   <!-- List item with dropdown functionality -->
                  <li class="dropdown">
                    <!-- User profile section with an icon -->
                    <div class="profile"><a href="#"><img src="{% static 'mylifeclinic_website/images/user med icon.png' %}"><a>
                      <!-- Displaying the user's name if authenticated -->
                      {% if user.is_authenticated %}
                        {{ login_name}}
                      {% else %}
                      <!-- Default display for non-authenticated users -->
                      <p>Pacjent</p>
                    {% endif %}
                    </a> <i class="arrow down"></i></a></div>
                    
                    <!-- Dropdown content for user menu -->
                    <div class="dropdown-content">
                      <a href="#">Profile information</a>
                      <a href="#">Give us a feedback</a>
                      <a href="#">Settings</a>
                      <a href="#">Displaying and facilitating access</a>
                      <a>
                        <!-- Conditional display of login or logout link based on user authentication -->
                        {% if user.is_authenticated %}
                          <a href="{% url 'logout' %}">Logout</a>
                            {% else %}
                          <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                      </a>
                    </div>
                  </li>
                </ul>
          </div>
      </header>
      <div class="container">
        <div class="blok">
          <!-- Only display div if user is authenticated -->
          {% if user.is_authenticated %}
            <!-- If there aren't any records, the div visit will not appear -->
            {% if records %}
            <div class="visit"> 
            
              <p>Next appointment:
                  <!-- records.0 means we take only first record -->
                  {{ records.0.date_of }}
                  {{ records.0.employee__postion__nazwa }}
                  {{ records.0.employee__imie }}
                  {{ records.0.employee__nazwisko }}

              </p>
            </div>
            {% else %}
             <!-- Displaying a div with a message when no appointments are scheduled -->
            <div class="visit"> 
                <p>No appointments to the near future

              </p>
            </div>
            {% endif %}
          {% endif %}
          
            <!--blue wlecome banner-->
            <div class="welcome">
              <div class="picture"><img src="{% static 'mylifeclinic_website/images/doctor phone.png' %}"></div>
              <div class="text"><p>Welcome  {% if user.is_authenticated %} {{ user.first_name }} {% else %} ??? {% endif %},<br>Get your business done here </p></div>
              <div class="picture"><img src="{% static 'mylifeclinic_website/images/patient card draw.png' %}"></div>
            </div>
              <div class="options">
                <div class="option1"><a href="#"><img src="{% static 'mylifeclinic_website/images/registration blue icon.png' %}"><br></a>Booking an appointment</div>
                <div class="option2"><a href="#"><img src="{% static 'mylifeclinic_website/images/kalendzarz blue.png' %}"><br></a>Appointments</div>
                <div class="option3"><a href="#"><img src="{% static 'mylifeclinic_website/images/recepty blue.png' %}"><br></a>Prescriptions</div>
                <div class="option4"><a href="#"><img src="{% static 'mylifeclinic_website/images/medical-book blue new.png' %}"><br></a>History of Visits</div>
              </div>
      </div>
 
</body>
</html>

              