{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/formstyle.css' %}">
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
        <div class="header">
            <a href="{% url 'home' %}"><img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" ></a>
        </div>
        <h1>Create Account</h1>
            <div class="form">
            <!-- Opening form tag with POST method -->
                <form method="POST" action="">
                <!-- Container for form inputs with a CSS class 'input_group' -->
                    <div class="input_group">
                    <!-- CSRF token for security -->
                        {% csrf_token %}
                        <!-- Check if there are form errors -->
                        {% if form.errors %}
                         <!-- Display an error message if there are form errors -->       
                                    Your Form Has Errors
                                    <!-- Loop through form fields to display individual field errors -->
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {{ field.errors }}
                                        {% endif %}
                                    {% endfor %}
                            {% endif %}
                        <!-- Render the form fields as paragraphs -->
                        {{ form.as_p }}
                    </div><!-- Closing tag for the input_group container -->
                    <div class="terms">
                        <input type="checkbox" required>
                            <span class="text_sign_up">By selecting this checkbox, you are confirming that you have read
                                 and agree to MyLIFE CLINIC'S <a href="{% url 'statute' %}" target="_blank"> Terms of Use and Privacy Policy</a></span>
                        </div>  
                    </div>
                    <button type="submit" class="signup">Register</button>
                </form><!-- Closing form tag -->
                <div class="bottom">
                    <p>Already have an account?<a href="{% url 'login' %}"> Sign In</a></p>
                </div>
            </div>
    </div>
</body>
</html>