{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://shorturl.at/yACJ8">
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/formstyle.css' %}">
</head>
<body>
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
        {% endif %}
        <div class="header">
            <a href="{% url 'home' %}"><img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" ></a>
        </div>
        <h1>Create Account</h1>
            <div class="form">
                <form method="POST" action="">
                    <div class="input_group">
                        {% csrf_token %}
                        {% if form.errors %}
                                
                                    Your Form Has Errors
                                    {% for field in form %}
                                        {% if field.errors %}
                                            {{ field.errors }}
                                        {% endif %}
                                    {% endfor %}
                                    
                                
                            {% endif %}

                        {{ form.as_p }}
                    </div>
                    <div class="terms">
                        <input type="checkbox" required>
                            <span class="text_sign_up">By selecting this checkbox, you are confirming that you have read
                                 and agree to MyLIFE CLINIC'S <a href="{% url 'statute' %}" target="_blank"> Terms of Use and Privacy Policy</a></span>
                        </div>  
                    </div>
                    <button type="submit" class="signup">Register</button>
                     
                </form>
                <div class="bottom">
                    <p>Already have an account?<a href="{% url 'login' %}"> Sign In</a></p>
                </div>
            </div>
    </div>
</body>
</html>