{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>MyLifeClinic Statute</title>
    <link rel="stylesheet" href="{% static  'mylifeclinic_website/style.css' %}">
</head>
<body>
    <header class="baner_statute">
        <img src="{% static 'mylifeclinic_website/images/MyLIFE_LOGO_POZIOM_3.png' %}" class="statute_logo"></img>
        <a class="">Statute</a>
        <div class="">Change language</div>
    </header>
    <h1 style="text-align: center;">MyLifeClinic Medical Center Regulations</h1>
    <h2>I. General Provisions</h2>

    <p>The MyLifeClinic Medical Center, hereinafter referred to as the "Center," provides medical services in the field of diagnosis, treatment, and preventive healthcare. The Center operates in accordance with applicable legal regulations and medical care standards.

        The Center reserves the right to change the regulations, and patients will be informed about this on the Center's website.</p>

    <h2>II. Registration and Patient Services</h2>

    <p>In order to schedule an appointment, the patient is required to contact the Center through the online form, by phone, or in person.

        The Center will make every effort to admit the patient as soon as possible, taking into account the availability of doctors.

        The patient is obligated to provide accurate personal information and information about their health.</p>

    <h2>III. Payments</h2>

    <p>The Center follows an appropriate pricing policy. The patient is required to settle fees for medical services in accordance with the Center's current price list.

        The Center accepts various forms of payment, including cash, credit cards, and bank transfers.</p>

    <h2>IV. Appointments and Diagnostics</h2>

    <p>The patient is obliged to arrive punctually for appointments and diagnostic tests.

        In case of inability to attend the appointment, the patient is required to inform the Center at least 24 hours in advance.

        The Center follows appropriate diagnostic and treatment procedures while maintaining patient confidentiality.</p>

    <h2>V. Personal Data Protection</h2>

    <p>MyLifeClinic Center complies with applicable personal data protection regulations, ensuring the confidentiality of patients' medical information.

        Patient data is stored in accordance with applicable legal regulations and is not shared with third parties without the patient's consent.</p>

    <h2>VI. Complaints and Claims</h2>

    <p>The patient has the right to file complaints and claims regarding the services provided. The Center undertakes to consider complaints as quickly as possible.</p>

    <h2>VII. Final Provisions</h2>

    <p>MyLifeClinic Center reserves the right to refuse admission to a patient without providing a reason.

        In case of a need to reschedule an appointment, the Center makes every effort to inform the patient as early as possible.

        All disputes are resolved in accordance with applicable law.</p>

    <h3>The MyLifeClinic Medical Center Regulations come into effect upon announcement and are effective from the date of their publication on the Center's website.</h3>

    <p>Date of preparation: 29.10.2023</p>
    <p>Date of last modification: 29.10.2023</p>

    <p>Manager of MyLifeClinic Medical Center: Jan Kowalski</p>

    <h3>I approve the MyLifeClinic Medical Center Regulations: Jan Kowalski</h3>

    <p>If you have any questions, please feel free to contact our administrator.</p>
</body>
</html>
